@tailwind base;
@tailwind components;
@tailwind utilities;

li.menu {
  @apply bg-[#FEFAE2] pt-2 md:px-10 sm:px-5 rounded-md hover:transition-all hover:scale-110 text-black border-[3px] border-gray-200;
}

button.btn-category,
a.btn-category {
  @apply bg-red-700 px-12 py-2 font-bold text-white rounded-md text-lg hover:transition hover:scale-100 block;
}

input,
select {
  @apply flex justify-center rounded-lg;
  @apply block text-gray-900 font-bold text-xl mb-4 border-none p-2 bg-[#9AB5A4];
}

input:disabled {
  @apply bg-gray-300;
}

div.css > *.active {
  @apply bg-green-700;
}

div.css > * {
  @apply bg-red-400 py-2 px-5 rounded-lg text-white font-bold;
}

span.span-about {
  padding: 7px;
  text-align: center;
  font-size: 19px;
  font-weight: 900;
}

label {
  @apply text-2xl text-red-800 font-bold uppercase mt-5;
}

h1.title-categories {
  margin-top: 10px;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  @apply text-red-400;
}

img.hero-img {
  @apply md:w-[400px] sm:w-[300px];
}

#insta {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text;
  /* Also define standard property for compatibility */
  background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 50px; /* change this to change the size*/
}

@media (min-width: 300px) and (max-width: 600px) {
  img.about-img {
    width: 150px;
    height: 100px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  img.about-img {
    width: 200px;
    height: 150px;
  }
}

@media (min-width: 1024px) {
  img.about-img {
    width: 900px;
    height: 150px;
  }
}

@media (min-width: 300px) and (max-width: 600px) {
  img.hero-img {
    width: 200px;
    height: 200px;
  }
}

@media (min-width: 768px) {
  img.hero-img {
    width: 250px;
    height: 250px;
  }
}

/*
   background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
*/
